# ignore build and cache directory
firmware/build/*
firmware/.cache/*

# Ignore kicad lockfiles
*.lck

# Ignore kicad backup files
pcb/travyboard-backups/*

.ccls-cache

# Ignore mac bullshit
.DS_STORE

firmware-v2/notes.md
